<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152099168096-51mr8e7vcb9c8kn0q70d2u00q0clpdk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152099168096-51mr8e7vcb9c8kn0q70d2u00q0clpdk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmwJfEEIRlRwU1haTqY6kgqUESgpLYwA</string>
	<key>GCM_SENDER_ID</key>
	<string>152099168096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.claudiocarvalho.Event</string>
	<key>PROJECT_ID</key>
	<string>event-83b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>event-83b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152099168096:ios:71ac2af3e8347e92294805</string>
	<key>DATABASE_URL</key>
	<string>https://event-83b4a.firebaseio.com</string>
</dict>
</plist>